@font-face {
    font-family: 'Open Sans';
    src: url(../Assets/Font/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Assets/Font/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Assets/Font/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Assets/Font/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../Assets/Font/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}