@import "Font-style.css";
@import "Variables.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    background-color: var(--black-dark);
    position: relative;
}

.DiscoverContent {
    display: flex;
    background-color: #262626;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.DiscoverBox {
    margin-top: 50px;
    align-items: center;
    /* background-color: orange; */
    height: 40%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.DiscoverBox .TitleD p {
    color: var(--white);
    font-weight: 500;
    padding-bottom: 10px;
}

.sliderImages {
    width: 63%;
    height: inherit;
    background: #262626;
}

.sliderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliderMain {
    align-items: center;
    width: 37%;
    background-color: #262626;
}

.sliderMain #sliderMore {
    margin-left: 37px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.sliderMainContent {
    /* background-color: red; */
    width: 300px;
    height: 280px;
    margin: 35px 0 10px 0;
}

.sliderMainContent p {
    margin-top: 10px;
    text-align: justify;
    font-size: 14px;
    height: 60%;
    overflow-y: scroll;
    /* background-color: violet; */
}

.sliderMainContent h3 {
    color: #5b5b5b;
    /* background-color: teal; */
}

.sliderMainContent h2,
.sliderMainContent p {
    color: var(--white);
    /* background-color: tomato; */
}

.slide {
    position: absolute;
    width: inherit;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pager {
    position: relative;
    top: 10px;
    /* background: powderblue; */
    font-size: 17px;
    font-weight: 750;
    color: var(--white);
}

.arrows {
    text-decoration: none;
    margin: 50px 2% 0 2%;
    font-size: 40px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.65);
}

.sliderContent .arrows:hover {
    color: orange;
    transition: .5s;
}

.Updates {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 70px auto;
}

.Updates .Box1,
.Updates .Box2 {
    width: 440px;
    height: 450px;
    background: var(--black-light);
    margin: 10px 0 20px 0;
    overflow-y: scroll;
}

.TitleUpdate p {
    color: var(--white);
    font-weight: 500;
}

.BoxUpdates,
.BoxUpdatesLast {
    height: 120px;
    width: 400px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    border-bottom: 2px solid var(--white);
}

.img-BoxUpdates {
    float: left;
    width: 180px;
    height: 120px;
    /* background-color: violet; */
}

img.images {
    margin-top: 10px;
    width: 180px;
    height: 100px;
    object-fit: cover;
    /* background: salmon; */
}

.BoxText h5 {
    color: #5d5b5b;
    font-size: 10.5px;
}

.BoxText h3 {
    font-size: 12px;
    color: var(--white);
    overflow-y:scroll;
    height: 16px;
    margin-bottom: 10px;
}

.BoxUpdates p,
.BoxUpdatesLast p { 
    color: var(--white);
    overflow-y: scroll;
    height: 60px;
    font-size: 10px;
    text-align: justify;
}


.BoxText {
    float: left;
    /* margin-bottom: 2px; */
    width: 200px;
    padding-top: 9px;
    margin-left: 10px;
    margin-right: 5px;
    /* background: darkmagenta; */
}

.BoxUpdatesLast {
    margin-bottom: 10px;
    border: none;
}

.btnSection {
    width: 120px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.btnViewMore {
    color: var(--white);
    text-decoration: none;
    line-height: 50px;
    background-color: var(--blue);
    padding: 10px 18px;
    border-radius: 7px;
    font-weight: 600;
}

.BoxUpdates p::-webkit-scrollbar,
.BoxUpdatesLast p::-webkit-scrollbar,
.sliderMainContent p::-webkit-scrollbar, .BoxText h3::-webkit-scrollbar {
    display: none;
}

.BoxUpdatesLast p,
.BoxUpdates p,
.sliderMainContent p {
    scrollbar-width: none;
}

.Box1,
.Box2 {
    scrollbar-color: #888 var(--black-light);
    scrollbar-width: thin;
}

.Box1::-webkit-scrollbar,
.Box2::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 799px) {
    label {
        display: block;
    }

    .navbar-item {
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        text-align: center;
    }

    .navbar-item > li:first-child:hover{
        color: var(--white);
        background-color: var(--black-light);
    }

    .hamburg-button {
        display: inline-block;
        transform: none;
        padding: .8rem 1rem;
        line-height: 1;
    }

    .toggleMenu:checked + .navbar-item, .toggleMenu:checked + .navbar-item li {
        display: block;
    }

    .menu-Title {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .dropDown {
        display: inline-block;
        margin: auto;
        min-width: 50px;
        line-height: 1;

        transform: translateY(-10%);
        border: 2px solid var(--blue);
    }

    .dropDown > li {
        display: inline-block;
        padding: .5rem 0;
        text-align: center;
    }

    .dropDown > li > a {
        display: block;
        padding: 0 2rem;
    }

    .menu-Title:hover .dropDown {
        width: fit-content;
    }

    .menu-Title:hover .dropDown, .dropDown {
        position: static;
    }

    .Box {
        width: 120%;
    }

    .UpdatesContent {
        height: 200px;
    }

    .toggleMenu:checked + nav .navbar-item {
        display: none;
    }

    .slide {
        position: absolute;
        width: 100%;
        height: 60%;
    }
    
    .DiscoverBox{
        height: 550px;
    }
    .sliderImages{
        height: 60%;
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sliderMain{
        position: relative;
        width: inherit;
        height: 300px;
    }
    .DiscoverContent{
        display: block; 
        position: relative;
    }

    .sliderMainContent {
        width: 400px;
        height: 180px;
    }

    .sliderMainContent p {
        margin-top: 10px;
        text-align: justify;
        font-size: 14px;
        height: 100px;
        overflow-y: scroll;
    }

}

@media screen and (max-width: 500px) {

    .Updates .Box1,
    .Updates .Box2 {
        height: 300px;
        width: 350px;
    }

    .sliderMainContent p {
        margin-top: 10px;
        text-align: justify;
        font-size: 10px;
        height: 60%;
        overflow-y: scroll;
        /* background-color: violet; */
    }

    .BoxUpdates p,
    .BoxUpdatesLast p { 
        color: var(--white);
        overflow-y: scroll;
        height: 60px;
        font-size: 6px;
        text-align: justify;
    }

    .BoxText h5 {
        color: #5d5b5b;
        font-size: 6.5px;
    }

    .BoxText h3 {
        font-size: 12px;
        color: var(--white);
        overflow-y:scroll;
        height: 12px;
        margin-bottom: 10px;
    }

}