@import "Font-style.css";
@import "Utils.css";
@import "Variables.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    background-color: var(--black-dark);
}

main {
    margin: 1rem 2rem;
}

.text-heading {
    font-size: 2rem;
    font-weight: 700;
}

.text-subheading {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.header {
    padding: 0rem 1rem;
    background-color: var(--black-light);
    margin-bottom: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2.5rem;
}

.hamburg {
    display: none;
}

.hamburg-menu {
    align-self: flex-start;
    position: relative;
}

.menu {
    display: flex;
}

.dropdown {
    display: block;
    position: relative;
}

.dropdown-toggler {
    display: none;
}

.dropdown-list {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1010;
}

.page-menu {
    display: flex;
    width: auto;
}

.menu-item,
.dropdown-list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 1rem 1rem;
    transition: all 0.2s;
}

.dropdown-list-item {
    background-color: var(--black-light);
    box-shadow: 0.25rem 0.25rem 0.6rem #2626261e;
}

.dropdown-list-item .item-button {
    border-radius: 0 0 0.25rem 0.25rem;
}

.menu-item.item-button {
    padding-right: 0;
    text-transform: uppercase;
}

.menu-item:not(.item-button):hover,
.dropdown-list-item:hover {
    background-color: var(--blue);
    transition: all 0.2s;
}

.dropdown-toggler:checked+.dropdown-list {
    display: block;
}

.badge {
    display: inline-block;
    text-align: center;
    padding: 0.2rem;
    background-color: var(--red);
    vertical-align: middle;
    margin-left: 0.3rem;
}

.button {
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.button,
.badge {
    border-radius: 0.4rem;
}

.button-primary {
    background-color: var(--blue);
}

.container {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}

.operator-card-list{
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
}

.operator-card {
    width: 12rem;
    display: inline-block;
    margin-right: 1.5rem;
    background-color: #262626;
}

.operator-card-content {
    position: relative;
    overflow: hidden;
}

.operator-card-icon {
    width: 3rem;
    position: absolute;
    z-index: 10;
    top: 0.5rem;
    left: 0.5rem;
}

.container {
    width: 90%;
    margin: auto;
}

.container, .container-fluid {
    margin-bottom: 3rem;
}

.operator-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operator-card {
    width: 12rem;
    display: inline-block;
    background-color: #262626;
}

.operator-card:not(:last-child) {
    margin-right: 1.5rem;
}

.operator-card-slider {
    width: 90%;
    margin: auto;
    white-space: nowrap;
    overflow-x: hidden;
}

.operator-card-content {
    position: relative;
    overflow: hidden;
}

.operator-card-icon {
    width: 3rem;
    position: absolute;
    z-index: 10;
    top: 0.5rem;
    left: 0.5rem;
}

.operator-card-thumbnail {
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.operator-card-footer {
    padding: 0.5rem;
    padding-top: 10rem;
    background: linear-gradient(to top, #000000, #00000000);

    text-transform: capitalize;

    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.operator-card-slider-button {
    width: 1.3rem;
}

.operator-card:hover .operator-card-thumbnail, .operator-card:hover .operator-card-footer,
.operator-card-thumbnail, .operator-card-footer {
    transition: ease-out .2s;
}

.operator-card:hover .operator-card-thumbnail {
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.operator-card:hover .operator-card-footer {
    color: #2b75b8;
    text-shadow: 0.2rem 0.2rem 0.5rem #2b74b84d, 0.1rem 0.1rem 0.3rem #f9f9f93b;
    font-weight: 700;
    font-size: 1.5rem;
}

.operator-card-slider-button, .operator-card, .dropdown {
    cursor: pointer;
}

@media only screen and (max-width: 799px) {

    /* .hamburg-menu {
        height: 4rem;
        width: 100vw;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
    } */

    .page-menu {
        display: block;
        width: 100%;
    }

    .menu-item:not(.item-button),
    .dropdown-list-item {
        display: block;
        position: relative;
        width: 100%;
        transition: all 0.2s;
    }

    .dropdown-toggler:checked+.dropdown-list {
        display: block;
        position: relative;
    }

    .operator-card {
        width: 9rem;
    }

    .operator-card:not(:last-child) {
        margin-right: 1rem;
    }

    .operator-card:hover .operator-card-footer {
        font-size: 1.3rem;
    }

    .operator-card-icon {
        width: 2.5rem;
    }

    .operator-card-slider-button {
        width: .8rem;
    }
}

@media only screen and (max-width: 576px) {

    .container {
        width: 95%;
    }

    .slide {
        font-size: 0;
    }

    .operator-card {
        width: 50%;
    }

    .operator-card, .operator-card:not(:last-child) {
        margin-right: 50%;
        transform: translateX(50%);
    }

    .operator-card-footer {
        font-size: 1rem;
    }

    .operator-card:hover .operator-card-footer {
        font-size: 1.5rem;
    }

    .operator-card-icon {
        width: 3rem;
    }

    .operator-card-slider-button {
        width: .8rem;
    }
}

