:root {
    --gray: #5b5b5b;
    --dark-gray: #393939;
    --black-light: #262626;
    --black-dark: #1e1e1e;

    /* --blue: #2b75b8; */
    --blue: #1971c2;
    --white: #f9f9f9;
    --red: #f30307;
}