:root {
    --white: #f9f9f9;
    --gray: #5b5b5b;
    --dark-gray: #393939;
    --black-light: #262626;
    --black-dark: #1e1e1e;

    --blue-light: #2a8be4;
    --green-light: #5cb860;

    --blue: #1971c2;
    --green: #4CAF50;
    --red: #f30307;
}