footer {
    padding: 1rem;
    background-color: #262626;
    text-align: center;
}

#force-pos-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footerDesc p {
    color: #f9f9f9;
    font-weight: 700;
    padding-top: 5px;
}

.footerContent img {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    transition: ease-out .2s;
}

.footerContent img:hover {
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition: ease-out .2s;
}