@import "../Variables.css";

nav {
    position: sticky;
    top: 0;
    background-color: var(--black-light);
    width: 100%;
    height: 60px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav .logo {
    flex: 2;
    order: 2;
    float: left;
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
}

nav .burger-menu {
    order: 99;
}

nav img {
    height: 40px;
}

.burger-menu-button {
    display: none;
}

.toggle-label {
    color: var(--white);
}

.navbar-item {
    order: 3;
    flex: 10;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-item {
    position: relative;
    display: block;
    line-height: 59px;
    text-align: center;
    padding: 0 .6rem;
    background: var(--black-light);
}

nav ul li a {
    color: var(--white);
    text-transform: none;
    text-decoration: none;
    display: block;
}

.dropDown {
    display: none;
    position: absolute;
    background-color: var(--black-light);
    border-radius: 0 0 4px 4px;
}

.dropDown a {
    color: var(--white);
    display: block;
}

.menu-item:hover .dropDown {
    position: absolute;
    width: 8.5rem;
    display: block;
    z-index: 10;
    left: 0;
}

nav ul li ul li {
    border: 4px;
}

.quarantine {
    display: inline-flex;
}

.quarantine div span {
    margin-left: .4rem;
    background-color: var(--red);
    height: 2rem;
    color: var(--white);
    text-align: center;
    padding: 4px;
    font-size: .8rem;
    border-radius: 6px;
}

.navbar-item li:not(.button-menu):hover, .dropDown > li:hover {
    color: var(--white);
    background-color: var(--blue);
    transition: all .5s;
}

nav .right-button {
    order: 9;
    float: right;
    margin-right: 1rem;
    margin-left: .5rem;
}

.action-button {
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    border-radius: .5rem;
}

.action-button a {
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 2px;
    text-decoration: none;
}

#toggle {
    display: none;
}

.label {
    margin-right: 1rem;
    float: right;
    font-size: 1.5rem;
    /* line-height: 3.5rem; */
    display: none;
    width: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 799px) {
    .label {
        display: block;
    }

    .action-button {
        display: none;
    }

    nav {
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid var(--dark-gray);
    }

    .navbar-item {
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        text-align: center;
    }

    nav .logo {
        margin-left: 4rem;
    }

    .navbar-item > li.submenu:hover {
        color: var(--white);
        background-color: var(--dark-gray);
        padding: 0;
    }

    .burger-menu-button {
        display: inline-block;
        transform: none;
        padding: .8rem 1rem;
        line-height: 1;
    }

    .toggleMenu:checked + .navbar-item, .toggleMenu:checked + .navbar-item li {
        display: block;
    }

    .menu-item {
        display: flex;
        align-items: center;
        height: 100%;
        border: 1px solid var(--black-light);
    }

    .dropDown {
        display: inline-block;
        margin: auto;
        min-width: 4rem;
        line-height: 1;

        border: 2px solid var(--dark-gray);
    }

    .dropDown > li {
        display: inline-block;
        padding: .5rem 0;
        border: 1px solid var(--dark-gray);
        text-align: center;
    }

    .dropDown > li > a {
        display: block;
        padding: 0 2rem;
    }

    .menu-item:hover .dropDown {
        width: fit-content;
    }

    .menu-item:hover .dropDown, .dropDown {
        position: static;
        width: 100%;
        line-height: 2.5rem;
    }

    .toggleMenu:checked + nav .navbar-item {
        display: none;
    }
}